{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<div style="text-align:center">
    <h2> Here are your images! </h2>

    <form action="/upload">
        <input type = 'submit' value='Generate map'>
    </form>
    <form action="/upload">
        <input type = 'submit' value='Upload more files'>
    </form>
    <form action="/upload">
        <input type = 'submit' value='Download as zip'>
    </form>
</div>

<div class= "split leftcol">
    <h3>        Abnormal</h3>
    {% for pic in abnormfiles %}
       <img src="/media/{{user.id}}/test_images/{{ pic }}" style="height: 150px; width: auto">
    {% endfor %}
</div>

<div class= "split rightcol">
    <h3>        Echolocation</h3>
    {% for pic in echofiles %}
       <img src="/media/{{user.id}}/test_images/{{ pic }}" style="height: 150px; width: auto">
    {% endfor %}
</div>

{% endblock %}
