{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<div style="text-align:center">
    <h2> Here are your images! </h2>
</div>

<div class= "split leftcol">
        <h3>    Abnormal</h3>
        {% for pic in abnormfiles %}
           <img src="/media/{{user.id}}/test_images/{{ pic }}" style="height: 75%; width: 75%">
        {% endfor %}
    </div>

    <div class= "split rightcol">
        <h3>    Echolocation</h3>
        {% for pic in echofiles %}
           <img src="/media/{{user.id}}/test_images/{{ pic }}" style="height: 75%; width: 75%">
        {% endfor %}
    </div>
</div>

{% endblock %}
