{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<div style="text-align:center">
    </br>
    <h2> Here Are Your Images! </h2>
    </br>
    <div style="float: left; width: 33%">
        <form action="/graph">
            <input class="buttonNorm" type = 'submit' value='Generate map'>
        </form>
    </div>
    <div style="float: left; width: 33%">
      <form action="/download">
          <input class="buttonNorm" type = 'submit' value='Download as zip'>
      </form>
    </div>
    <div style="float: left; width: 33%">
      <form action="/upload">
          <input class="buttonNorm" type = 'submit' value='Upload more files'>
      </form>
    </div>
</div>


<div class= "split leftcol">
  <hr>
  <h3>        Abnormal({{ abnormfiles|length }})</h3>
  {% for pic in abnormfiles %}
  {% if forloop.counter0 >= 5 %}
      <img src="/media/{{user.id}}/test_images/{{ pic }}" style="height: 0px; width: auto">
  {% else %}
      <img src="/media/{{user.id}}/test_images/{{ pic }}" style="height: 150px; width: auto">
  {% endif %}
  {% empty %}
     <li>Sorry, abnormal images in your folder files in your folder</li>

  {% endfor %}

  <button class="buttonborder" onclick="myFunction()">More Images</button>

  <div id="myDIV">
    {% for pic in abnormfiles %}
    {% if forloop.counter0 <= 5 %}
        <img src="/media/{{user.id}}/test_images/{{ pic }}" style="height: 0px; width: auto">
    {% else %}
        <img src="/media/{{user.id}}/test_images/{{ pic }}" style="height: 150px; width: auto">
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class= "split rightcol">
  <hr>
  <h3>        Echolocation({{ echofiles|length }})</h3>
  {% for pic in echofiles %}
  <img src="/media/{{user.id}}/test_images/{{ pic }}" style="height: 150px; width: auto">
  {% empty %}
     <li>Sorry, echolocation images in your folder</li>
  {% endfor %}
</div>

{% endblock %}
