{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<div style="text-align:center">
    <h2> Here are your images! </h2>
</div>

<div class= "split leftcol">
        <h2>Abnormal</h2>
        {% for pic in abnormfiles %}
           <img src="/media/{{user.id}}/test_images/{{ pic }}" >
        {% endfor %}
    </div>

    <div class= "split rightcol">
        <h2>Echolocation</h2>
        {% for pic in echofiles %}
           <img src="/media/{{user.id}}/test_images/{{ pic }}" >
        {% endfor %}
    </div>
</div>

{% endblock %}
