{% extends "sliders.html" %}
{% load staticfiles %}

{% block page %}

<div style="text-align:center">
    {% if user.is_authenticated %}
        </br>
        <img src="{% static 'social/batalogFileAnalysis.svg' %}" alt="Batalog Github" width="720" height="150" />
        </br>
        <form action="/upload">
            <button class="button" style="vertical-align:middle"><span>Click Here to Begin</span></button>
        </form>

    {% else %}
        </br>
        <img src="{% static 'social/batalogSignUp.svg' %}" alt="Batalog Github"  width="1080" height="200"/>
        </br>

    {% endif %}
</div>

</br>
</br>

<div class="container">
    <div class="row">
        {% for album in albums %}

        <div class="col">
            <div class="card dpg-album-card">
                <div class="card-image">
                    <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="dpg-album-card-image" />
                </div>
                <div class="card-content">
                    <span class="card-title">{{ album.title }}</span>
                    <p>{{ album.description|truncatechars:120 }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'album' album.slug %}">
                        More Images
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
            <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
            <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
