{% extends "sliders.html" %}
{% load staticfiles %}

{% block page %}

<div style="text-align:center">
    {% if user.is_authenticated %}
        <br>
        <h2 align='center'>File Analysis</h2>
        <br>
        <form action="/upload">
            <button class="button" style="vertical-align:middle"><span>Click Here to Begin</span></button>
        </form>

    {% else %}
        <br>
        <h2 align='center'>Login or Signup to upload a file</h2>
        <br>

    {% endif %}
</div>

{% endblock %}