{% extends "sliders.html" %}
{% load staticfiles %}

{% block page %}

<div style="text-align:center">
    {% if user.is_authenticated %}
        <h3 align='center'>It looks like your files don't have any GPS coordinates associated with them. Please upload at least one file containing GPS coordinates.</h3>
        <h2 align='center'>
        	<a href="https://youtu.be/sTESjH9xbvU" target="_blank">Demo</a>
        </h2>
        <br>
        <form action="/display">
            <input class="button" type="submit" value="Go back" />
        </form>
    {% endif %}
</div>

{% endblock %}
