<script type="text/javascript">// <![CDATA[
    function loading(){
        $("#content").hide();
        $("#loading").show();
    }
// ]]></script>
{% extends "sliders.html" %}
{% load staticfiles %}

{% block content %}



<div style="text-align:center">
    <style>
        div #loading {
            margin: auto;
            position: absolute;
            z-index: 1000;
            width: 600px;
            height: 100px;
            top: 77%;
            left: 46%;
            display: none;
            background: url(/static/ajax-loader.gif) no-repeat;
            cursor: wait;
        }
    </style>

    <div id="loading">
        <h1>Rendering</h1>
    </div>
    <div id="content">
        <h1>Upload</h1>

        </br>
        </br>
        
        <form action="render" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="float: left; width: 70%">
                <input class="buttonborder" type="file" name="document">
            </div>
            <div style="float: left; width: 1%">
                <button style="float: left;" class="buttonOption" type="submit" value='/render' name='uploadButton' onclick="loading();">Upload</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}