<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#upload").hide();
        }
// ]]></script>
{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}


<div id="loading" style="text-align:center; display:none; cursor:wait; height:calc(100% - 150px); z-index:-1;">
    <img src="{% static 'ajax-loader.gif' %}" alt="Rendering" style="position:absolute; margin:auto; left:0; right:0; top:0; bottom:0; display:block; max-height:100%; max-width:calc(100% - 300px)"> 
</div>

<div id="upload" style="text-align:center;">
    <br>
    <br>
    
    <h1>Upload</h1>

    <br>
    <br>

    <form action="render" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="float: left; width: 70%">
            <input class="buttonborder" type="file" name="document">
        </div>
        <div style="float: left; width: 1%">
            <button style="float: left;" class="buttonOption" type="submit" name='uploadButton' onclick="loading();">Upload</button>
        </div>
    </form>
</div>

{% endblock %}
